@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #296ab6;
  --color-secondary: #8bc6ea;
  --color-highlight: #fbb73d;
  --color-light: #f1f1f1;
  --color-gray: #5d5a5a;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* header,
section,
aside {
  outline: 2px solid var(--color-secondary);
  outline-offset: -2px;
} */

h2 {
  @apply uppercase text-gray;
}

h3 {
  @apply text-xl font-semibold;
}

img {
  @apply rounded-md;
}

.wrapper {
  @apply max-w-[1024px] mx-auto;
}

.top-div {
  @apply pt-14;
}

.indent {
  @apply mx-8;
}

.hover-effect {
  @apply fill-current transition-colors duration-150 ease-in-out;
}

.scale-effect {
  @apply transform transition-all hover:scale-105 duration-150 ease-in-out;
}
